<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753099588593-hjo1c461960tvbkdrauke978c1e8nuuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753099588593-hjo1c461960tvbkdrauke978c1e8nuuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCOU8UYbtheTlKA9tlPWE95tBzZ35e4pd8</string>
	<key>GCM_SENDER_ID</key>
	<string>753099588593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastian-kotarski.eWaste</string>
	<key>PROJECT_ID</key>
	<string>ewasteapp-267010</string>
	<key>STORAGE_BUCKET</key>
	<string>ewasteapp-267010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753099588593:ios:e818f543495cc3e85f3a50</string>
	<key>DATABASE_URL</key>
	<string>https://ewasteapp-267010.firebaseio.com</string>
</dict>
</plist>